<h1><span id="birthday">ENTER D.O.B.<span></h1>

<h1>
    <span class="pink">I</span>
    <span class="skyblue">T</span>
    <span class="pink">'</span>
    <span class="skyblue">S</span>
  </br>
    <span class="pink">Y</span>
    <span class="skyblue">O</span>
    <span class="pink">U</span>
    <span class="skyblue">R</span>
  </br>
    <span class="pink">B</span>
    <span class="skyblue">I</span>
    <span class="pink">R</span>
    <span class="skyblue">T</span>
    <span class="pink">H</span>
    <span class="skyblue">D</span>
    <span class="pink">A</span>
    <span class="skyblue">Y</span>
</h1>

<iframe width="820" height="615" src="//www.youtube.com/embed/zkocjjea5dY?autoplay=1" frameborder="0" allowfullscreen></iframe>

